/* body{
    background-color: rgb(240, 235, 235);
}

.card{
    border-color: rgb(29, 13, 117);
}

h1{
    color: rgb(13, 11, 104);
}

input{
    border-color: black;
} */


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fdf8f8;
    height: 90vh;
    width: 90vh;
    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #fcfbfa;
}

.title {
    color: #432d26;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
}

.sub_title {
    font-weight: 600;
    margin: 5px 0;
}

.form_group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
    width: 600px;
    
}

.form_group input{
    width: 100%;
}

.form_style {
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px red;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
}

.form_style:focus, .btn:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #cf5e5e;
}

.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #d12222;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #d12222;
    align-items: center;
}

button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #d12222;
    box-shadow: 4px 5px 17px -4px #d12222;
}

button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #d12222;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.link {
    font-weight: 800;
    color: #264143;
    padding: 5px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #dc3545;
    text-align: center;
    margin: 20px 0;
}